{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 90,
    "tabWidth": 4,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
}
